body { 
	background-color:#b5dcae; 
}

.title {
	text-align:center;
	display:block;
	height:200px;
}

.row {
	display: inline-block;
}

.square {
	display:inline-block;
	width:150px;
	height:150px;
	text-align:center;
	background-color: #ffffff;
}

.title-image{
	width:150px;
}

.imgIcon {
	height:75px;
	vertical-align: middle;
}

.p1Icon{
	vertical-align: middle;
}

.sidebar-left {
	display:inline-block;
	max-width:200px;
	border:1px solid black;
	padding:10px;
	float:left;
	background-color:#efe2c9;
}

.sidebar-right {
	max-width:200px;
	display:inline-block;
	border:1px solid black;
	padding:10px;
	float:right;
	background-color: #efe2c9;
}

#rightspan {
	display:inline-block;
	text-align:left;
}

#status {
	display:inline-block;
	font-weight:bold;
	font-size:20px;
	color:#ff0000;
	margin-bottom:20px;
}

#main{
	position:fixed;
	margin-left:-500px;
	min-width:1000px;
	display:inline-block;
	left:50%;
	padding-top:20px;
	text-align:center;
}


#gameboard {
	display:inline-block;
	border-width: 0px;
	border-style: solid;
	border-spacing:0px;
	padding:0 20px 0 20px;
	font-size:0;
	width:auto;
}

#reset { margin-top:20px; }


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color: #0080ff;}
    to {background-color: #00ffff;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: dodgerblue;}
    to {background-color: yellow;}
}

#square1 { border-bottom: 1px solid #000000; border-right:1px solid #000000; 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square2 { border-bottom: 1px solid #000000; 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square3 { border-bottom: 1px solid #000000; border-left:1px solid #000000; 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square4 { border-bottom: 1px solid #000000; border-right:1px solid #000000; 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square5 { border-bottom: 1px solid #000000; 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square6 { border-bottom: 1px solid #000000; border-left:1px solid #000000;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square7 { border-right:1px solid black;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square8 { 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}
#square9 { border-left:1px solid black;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
}

